:root {
    --main-color: #f1f4f6;
    --add-button-color: #2563eb;
    --delete-button-color: #d92550;
}
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Segoe UI", sans-serif;
}

/* common */
.main-content {
    width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.addbutton {
    background: var(--main-color);
    color: var(--add-button-color);
    border: 1px var(--add-button-color) solid;
    border-radius: 999px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    transition: background 0.2s;
    margin-right: 5px;
}

.addbutton:hover {
    background: #1e40af;
    color: #fff;
}

.editbutton {
    background: #f9fafb;
    color: var(--add-button-color);
    border: 1px var(--add-button-color) solid;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    transition: background 0.2s;
    padding: 2px 5px;
}

.editbutton:hover {
    background: #1e40af;
    color: #fff;
}

.deletebutton {
    background: #f9fafb;
    color: var(--delete-button-color);
    border: 1px var(--delete-button-color) solid;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    transition: background 0.2s;
    padding: 2px 5px;
}

.deletebutton:hover {
    background: #b91c1c;
    color: #fff;
}
/* common */

/* header */
header {
    width: 100%;
    height: 60px;
    display: flex;
    box-shadow: 0 0.46875rem 2.1875rem rgba(31.5, 53, 108, 0.03),
        0 0.9375rem 1.40625rem rgba(31.5, 53, 108, 0.03),
        0 0.25rem 0.53125rem rgba(31.5, 53, 108, 0.05),
        0 0.125rem 0.1875rem rgba(31.5, 53, 108, 0.03);
}

.header-left {
    width: 280px;
    background-color: #f9fbfc;
    /* background: red; */
    display: flex;
}

.header-left__logo {
    width: 60px;
    height: 60px;
    margin-left: 24px;
}

.menu-header__icon {
    width: 24px;
    height: 21px;
    margin-top: 21px;
    margin-left: 148px;
}

.header-right {
    background-color: #fafbfc;
    width: 1160px;
    position: relative;
}

.header-account {
    display: flex;
    align-items: center;
    width: 151px;
    height: 60px;
    justify-self: flex-end;
}

.header-account__avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    /* margin-left: 985px; */
}

.header-account__dropdown-icon {
    width: 15px;
    height: 15px;
    margin-left: 5px;
}

.header-account__name {
    margin-left: 10px;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 825px;
    width: 169px;
    height: 120px;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
    transition: 0.2s ease-in-out;
}

.dropdown-menu {
    list-style: none;
    margin: 0;
    padding: 10px 0;
}

.dropdown-item {
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
}

.dropdown-item:hover {
    background: #f5f5f5;
}

.dropdown-checkbox {
    display: none;
}

.dropdown-checkbox:checked ~ .dropdown {
    display: block;
}

/* container */
.container {
    display: flex;
    min-height: calc(100vh - 60px);
}

/* side bar */
.sidebar {
    width: 280px;
    background: #fff;
    box-shadow: 4px 4px 6px -2px rgba(0, 0, 0, 0.2);
}

.sidebar-list {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

.sidebar-item {
    margin: 5px 24px;
}

.sidebar-item a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    padding: 12px 20px;
    border-radius: 5px;
    color: #333;
    transition: background 0.2s ease, color 0.2s ease;
}

.sidebar-item a:hover {
    background: #f0f4ff;
}

/* Active item */
.sidebar-item.active a {
    background: #1f35ac;
    color: #fff;
}

.sidebar-item__icon {
    font-size: 2rem;
    width: 24px;
    text-align: center;
}

.sidebar-item .text {
    flex: 1;
}

/* main */

.main {
    width: 1160px;
    background: var(--main-color);
    position: relative;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
}

.infor-card {
    margin-top: 15px;
    grid-column: span 3;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    height: 90px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.big-chart {
    margin-top: 15px;
    grid-column: span 8;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    height: 350px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.premium-chart {
    margin-top: 15px;
    grid-column: span 4;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    height: 350px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* driver */
.driver-title {
    font-size: 24px;
    font-weight: bold;
    color: #222;
    margin-top: 15px;
}

.driver-top {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 15px;
}

.addform {
    background: #fff;
    width: 90%;
    height: 700px;
    top: 5%;
    left: 5%;
    position: absolute;
    display: none;
}

.addform-checkbox {
    display: none;
}

.addform-checkbox:checked ~ .addform {
    display: block;
}

.driver-table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
}

/* Head */
.driver-table__head {
    background: #f1f5f9;
    text-align: left;
}

.driver-table__head th {
    padding: 12px 16px;
    font-size: 14px;
    font-weight: 600;
    color: #374151;
    border-bottom: 1px solid #e5e7eb;
    text-align: center;
}

/* Body */
.driver-table__body td {
    padding: 12px 16px;
    font-size: 14px;
    color: #4b5563;
    border-bottom: 1px solid #f1f5f9;
    text-align: center;
}

.driver-table__row:hover {
    background: #f9fafb;
}

/* Cột hành động */
.driver-table__body td:last-child {
    text-align: center;
}
