SUPABASE_DB_URL=
SUPABASE_DB_USER=
SUPABASE_DB_PASS=

# cấu trúc sẽ là "admin1@gmail.com:"appPassword1",admin2@gmail.com:"appPassword2",admin3@gmail.com:"appPassword3""
# app password sẽ lấy được khi:
# truy cập vào myaccount.google.com -> bật xác thực hai bước -> quay lại trang chủ nhấn vào thanh tìm kiếm -> mật khẩu ứng dụng (app password)
ADMIN_GMAILS=
